/* Base structure */
body {
    padding-top: 50px;
    width: 100%;
    background-image: url("pexels-lukas-590022.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: whitesmoke;
  }
  
  .navbar-brand {
    height: 70px;
  }
  
  /* Global styles for header */
  header {
    width: 100%;
    height: 100px;
    /* background-image: linear-gradient(rgba(252, 245, 245, 0.3), rgba(0, 0, 0, 0.15)), url("pexels-lukas-590022.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center; /* Center vertically */
    background-color: whitesmoke;
  }
  
  /* Styles for top navigation bar */
  .navbar-collapse.collapse {
    height: 10vh;
    background: rgba(255, 255, 255, 0.992);
    color: rgb(246, 241, 241);
    display: flex;
    justify-content: space-between;
    align-items: center; /* Center items vertically */
    text-transform: uppercase;
  }
  
  /* Sidebar navigation */
  .nav-sidebar {
    margin-right: 0;
    margin-bottom: 20px;
    margin-left: 0;
  }
  .nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
  }
  .nav-sidebar > .active > a,
  .nav-sidebar > .active > a:hover,
  .nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
  }
  .navbar-inverse {
    background-color: #fff;
    border: 0;
  }
  
  /* Form styles */
  form#form1 {
    background-color: white;
    margin-bottom: -161px;
  }
  
  .login_button,
  .logout_button {
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 1px solid #337ab7;
    margin-top: 15px;}
  
  .logout_button {
    font-size: 16px;
    margin-top: 15px;
  }
  
  .logout_button #logout {
    margin-top: 12px;
  }
  
  .login_button:hover,
  .logout_button:hover {
    background-color: #337ab7;
    color: white;
  }
  
  .btn-group {
    margin-right: 10px;
  }
  
  .sidebar {
    display: none;
  }
  
  @media (min-width: 768px) {
    .sidebar {
      position: fixed;
      top: 51px;
      bottom: 0;
      left: 0;
      z-index: 1000;
      display: block;
      padding: 20px;
      overflow-x: hidden;
      overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
      background-color: #f5f5f5;
      border-right: 1px solid #eee;
    }
  }
  
  /* Main content styles */
  .main {
    padding: 20px;
    height: 100%;
  }
  main {
    padding: 20px;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-color: whitesmoke;
  }
  .main .page-header {
    margin-top: 23px;
    margin-left: 0;
    padding-left: 0;
    font-size: 24px;
    white-space: nowrap;
  }
  
  h1 {
    margin-top: -61px;
  } 
  /* Add space between words using pseudo-elements */
  .main .page-header::after {
    content: "\00a0\00a0"; /* Unicode non-breaking space character */
  }
  
  /* Form styling */
  form {
    margin-top: -1px;
  }
  form#form1 {
      position: absolute;
      margin-top: -20px;
      background-color: whitesmoke;
      padding: 1px;
  
  }
  
  form label {
    font-weight: bold;
    margin-bottom: 5px; /* Adjust this value to decrease the space */
  }
  
  form input[type="text"],
  form input[type="file"] {
    width: 100%;
    margin-bottom: 10px;
  }
  
  form input[type="submit"] {
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 1px solid #337ab7;
  }
  
  form input[type="submit"]:hover {
    background-color: #337ab7;
    color: white;
  }
  
  form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  form div {
    margin-bottom: 10px;
  }
  
  .dropdown-arrow {
    margin-left: 5px; /* Adjust spacing between text and arrow */
    font-size: 14px; /* Adjust arrow size */
  }
  
  .dropdown-menu {
    min-width: auto; /* Adjust the minimum width as needed */
    display: none; /* Hide the dropdown by default */
    position: absolute;
    background-color: #f9f9f9; /* Dropdown background color */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }
  
  /* Show the dropdown menu when hovering over the button */
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  
  /* Style the dropdown item links */
  .dropdown-item {
    color: black; /* Item text color */
    padding: 3px 17px;
    text-decoration: none;
    display: block;
  }
  
  /* Style the dropdown item links on hover */
  .dropdown-item:hover {
    background-color: #f1f1f1; /* Change to a slightly different color on hover */
  }
  
  /* Table styling */
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: -82px;
    position: fixed;
  }
  
  /* Style for table headers */
  .table th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  /* Style for table data cells */
  .table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  /* Style for alternating row colors */
  .table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  table#table {
    margin-top: -7px;
  }
  
  
  .main-container {
    margin-top: 50px; /* Adjust as needed */
  }
  
  /* CSS for the page header */
  .page-header {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Additional styling for the div */
  
  
  /* Unique class names for the provided HTML */
  .dashboard-container {
    margin: 20px auto;
    max-width: 800px;
    padding: 0 20px;
  }
  
  .dashboard-heading {
    font-size: 24px;
    margin-bottom: 20px;
    position: fixed;
  }
  
  .file-list {
    list-style-type: none;
    padding: 0;
    /* margin-top: -51px; */
  }
  
  .file-item {
    margin-bottom: 20px; /* Adjust spacing between file items */
  }
  
  .filename-and-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -6px;
  }
  
  .filename {
    font-weight: bold;
  }
  
  .button-group {
    display: table;
    flex-wrap: nowrap;
  }
  
  .run-btn,
  .view-btn {
    padding: 8px 16px;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px; /* Adjust horizontal spacing between buttons */
  }
  
  .run-btn {
    background-color: #007bff;
    color: #fff;
  }
  
  .run-btn:hover {
    background-color: #0056b3;
  }
  
  .view-btn {
    background-color: #17a2b8;
    color: #fff;
  }
  
  .view-btn:hover {
    background-color: #117a8b;
  }
  
  
  
  /* CSS for RuleFile Summary Container */
  .rulefile-summary-container {
    margin: 20px auto;
    max-width: 800px;
    padding: 0 20px;
    margin-right: 292px;
  
  }
  
  /* CSS for RuleFile Summary Heading */
  .rulefile-summary-heading {
    font-size: 24px;
    margin-bottom: 9px;
    margin-top: -73px;  
  }
  
  /* CSS for View Details Button */
  .rulefile-summary-view-btn {
    display: block;
    width: 150px; /* Adjust button width as needed */
    margin-bottom: 20px; /* Adjust vertical spacing between heading and button */
  }
  
  /* CSS for RuleFile Summary Table */
  .rulefile-summary-table {
    width: 100%;
    border-collapse: collapse;
    margin-left: -82px;  
  }
  
  /* CSS for RuleFile Summary Table Header */
  .rulefile-summary-table-header {
    font-weight: bold;
    padding: 8px;
    border-bottom: 1px solid #ccc;
  }
  h1.rulefile-summary-heading {
    float: none;
    margin-left: -80px;} 
  a.btn.btn-primary.rulefile-summary-view-btn {
    margin-left: -83px;
  }
  
  /* CSS for RuleFile Summary Table Rows */
  .rulefile-summary-table-row:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  /* CSS for RuleFile Summary Table Data */
  .rulefile-summary-table-data {
    padding: 8px;
    border-bottom: 1px solid #ccc;
  }
  
  
  
  /* CSS for the rendered HTML content (assumed to be in a table format) */
  .report-container table {
    width: auto; /* Adjust the width as needed */
    margin-left: 0; /* Align table to the left */
    border-collapse: collapse;
  }
  
  /* CSS for table headers */
  .report-container th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
    padding: 8px; /* Decrease padding between cells */
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  /* CSS for table data cells */
  .report-container td {
    padding: 8px; /* Decrease padding between cells */
    border-bottom: 1px solid #ddd;
  }
  
  /* p.timing-info {
    /* position:fixed;
    right: -93px; 
    margin-right:  62px;
     top: 52%;
    transform: translateY(-50%);} */
  
  
  /* Style for alternating row colors */
  .report-container tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  /* Hover effect for table rows */
  .report-container tr:hover {
    background-color: #f5f5f5;
  }
  
  
  h1 {
    margin-top: 21px;
  }
form#form2 {
    margin-top: 565px;
}
  .report-container {
    margin-top: -85px;
  }