/* Base structure */
body {
  padding-top: 50px;
  width: 100%;
  background-image: url("pexels-lukas-590022.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: whitesmoke;
}

.navbar-brand {
  height: 70px;
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}
.navbar-inverse {
  background-color: #fff;
  border: 0;
}

/* Button styling */
.login_button,
.logout_button {
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color:white ;/* Background color */
  color:black; /* Text color */
  border:1px solid #337ab7;;
  margin-top: 18px;
}

.login_button:hover,
.logout_button:hover {
  background-color: #337ab7;
  color: white;
}

/* Optional: Adjust margin between buttons */
.navbar-nav .btn {
  margin-right: 10px; /* Adjust as needed */
}

.sidebar {
  display: none;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Style for submit button */
input[type="submit"],
.submit-button {
  width: 92%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #337ab7;
  color: #fff;
  cursor: pointer;
}

input[type="submit"]:hover,
.submit-button:hover {
  background-color: #0056b3;
}

h1.page-header {
  text-align: center;
  font-size: 32px;
  margin-top: 13px;
}

/* Styling for the table */
#table,
.table {
  width: 780px;
  border-collapse: collapse;
  margin: 1, auto;
}

/* Styling for table headers */
#table th,
.table th {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

/* Styling for table cells */
#table td,
.table td {
  border: 1px solid #ccc;
  padding: 8px;
}

/* Styling for checkbox input */
#table input[type="checkbox"] {
  margin-right: 5px;
}

/* Styling for labels */
#table label {
  display: block;
  margin-bottom: 0;
}

/* Styling for text inputs */
#table input[type="text"],
#table select {
  width: calc(100% - 20px); /* Adjusted width */
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Styling for anchor tags */
#table a {
  color: black;
  text-decoration: none;
}

h6.logo-text {
  float: left;
  margin-top: 26px;
  margin-left: 28px;
  font-size: 20px;
}

h1.page-header {
  font-size: 32px;
  margin-top: 69px;
  float: left;
}

#double-data-source-header {
  /* Add your styles here */
  font-size: 32px;
  text-align: center;
  margin-top: 37px; /* Adjust margin as needed */
  /* Add any additional styles you want */
  float: left;
}

/* Styles for #form1 and #form2 */
#form1 {
  font-family: Arial, sans-serif;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  float: left;
  margin-left: -221px;
  margin-top: 108px;
}
#form2 {
  font-family: Arial, sans-serif;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  float: left;
  margin-left: -399px;
  margin-top: 108px;
}

#form1 label,
#form2 label {
  display: inline-block;
  width: 200px; /* Adjust width as needed */
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

#form1 input[type="text"],
#form1 input[type="file"],
#form1 select,
#form2 input[type="text"],
#form2 input[type="file"],
#form2 select {
  width: calc(104% - 228px); /* Adjust width as needed */
  display: inline-block;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#form1 input[type="submit"],
#form2 input[type="submit"] {
  width: 92%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #337ab7;
  color: #fff;
  cursor: pointer;
}

#form1 input[type="submit"]:hover,
#form2 input[type="submit"]:hover {
  background-color: #286090;
}
